#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://github.com/saurabhnative/react30_7_quotes_generation_frontend/blob/master/solution_1/src/images/nature.jpg?raw=true");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
}

.heading {
  display: flex;
  align-items: center;
  min-height: 40vh;
  margin-bottom: 10px;
  font-size: 24px;
}